#!/bin/bash
set -me

SCRIPT_NAME=`basename "$0"`

echo "$SCRIPT_NAME: Beginning initialization..."

ansible-playbook -i /ansible/inventories/all.ini /ansible/run.yml

echo "$SCRIPT_NAME: Initialization complete. Starting container..."

exec "$@"
